<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="wclassth=device-wclassth, initial-scale=1.0">
    <title>WhatApp Loguer</title>
    <link rel="stylesheet" href="../public/css/app.css">
</head>
<body>
    <nav>
        <ul class="nav">
            <li>WhatApp Loguer</li>
            <li>Cerrar session</li>
        </ul>
    </nav>
    <div class="container">
        <div class="contact">
            <div class="contact-item">
                <div class="contact-image">
                    <img src="../public/images/foto.jpeg" alt="">
                </div>
                <div class="contact-number">+57 3005525028</div>
            </div>
            <div class="contact-item">
                <div class="contact-image">
                    <img src="../public/images/foto.jpeg" alt="">
                </div>
                <div class="contact-number">+57 3005525028</div>
            </div>
            <div class="contact-item">
                <div class="contact-image">
                    <img src="../public/images/foto.jpeg" alt="">
                </div>
                <div class="contact-number">+57 3005525028</div>
            </div>
            <div class="contact-item">
                <div class="contact-image">
                    <img src="../public/images/foto.jpeg" alt="">
                </div>
                <div class="contact-number">+57 3005525028</div>
            </div>
            <div class="contact-item">
                <div class="contact-image">
                    <img src="../public/images/foto.jpeg" alt="">
                </div>
                <div class="contact-number">+57 3005525028</div>
            </div>
            <div class="contact-item">
                <div class="contact-image">
                    <img src="../public/images/foto.jpeg" alt="">
                </div>
                <div class="contact-number">+57 3005525028</div>
            </div>
            <div class="contact-item">
                <div class="contact-image">
                    <img src="../public/images/foto.jpeg" alt="">
                </div>
                <div class="contact-number">+57 3005525028</div>
            </div>

        </div>
        
        <div class="chat">
            <div class="stageMessage">
                <div class="typing"></div>
            </div>
            <div class="containerWrite">
                <div class="stageWrite">
                    <input type="text" class="write">
                    <div class="send">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M10.146 4.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L12.793 8l-2.647-2.646a.5.5 0 0 1 0-.708z"/>
                            <path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5H13a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 8z"/>
                          </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>